<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>À propos du Département d'informatique</h2>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue neque gravida in fermentum et. Eget duis at tellus at urna condimentum mattis. Enim sit amet venenatis urna cursus eget. Porta nibh venenatis cras sed. Sed adipiscing diam donec adipiscing. Eu consequat ac felis donec et odio pellentesque diam. Viverra maecenas accumsan lacus vel. Eu volutpat odio facilisis mauris sit amet massa. Orci porta non pulvinar neque laoreet suspendisse. Sollicitudin aliquam ultrices sagittis orci. A lacus vestibulum sed arcu non odio euismod. Et magnis dis parturient montes nascetur ridiculus mus mauris.

                        Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Cras pulvinar mattis nunc sed. Pharetra et ultrices neque ornare aenean euismod elementum nisi.

                    </p>

                </div>
            </div>
            <!-- Page Content -->

        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->
