<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Mots du Chef de Département d'Informatique</h2>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-2 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <div class="member">
                        <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Walter White</h4>
                            <span>Chef de Département</span>
                            <p>
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-envelope-fill"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                    <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue neque gravida in fermentum et. Eget duis at tellus at urna condimentum mattis. Enim sit amet venenatis urna cursus eget. Porta nibh venenatis cras sed. Sed adipiscing diam donec adipiscing. Eu consequat ac felis donec et odio pellentesque diam. Viverra maecenas accumsan lacus vel. Eu volutpat odio facilisis mauris sit amet massa. Orci porta non pulvinar neque laoreet suspendisse. Sollicitudin aliquam ultrices sagittis orci. A lacus vestibulum sed arcu non odio euismod. Et magnis dis parturient montes nascetur ridiculus mus mauris.

                        Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Cras pulvinar mattis nunc sed. Pharetra et ultrices neque ornare aenean euismod elementum nisi.

                    </p><p>Volutpat lacus laoreet non curabitur gravida arcu. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Eleifend mi in nulla posuere sollicitudin aliquam. Eget sit amet tellus cras adipiscing. Lectus sit amet est placerat in egestas. Nulla aliquet porttitor lacus luctus accumsan tortor posuere. Lectus vestibulum mattis ullamcorper velit. Et tortor at risus viverra adipiscing at in tellus. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam.

                    Molestie a iaculis at erat pellentesque adipiscing commodo elit. Facilisi cras fermentum odio eu. </p>
                    <p>Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Pulvinar etiam non quam lacus suspendisse faucibus. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. At auctor urna nunc id cursus metus aliquam eleifend. Turpis egestas maecenas pharetra convallis. Convallis posuere morbi leo urna molestie at. Sed egestas egestas fringilla phasellus. Diam vulputate ut pharetra sit amet aliquam id diam. Natoque penatibus et magnis dis parturient montes. Amet mauris commodo quis imperdiet massa tincidunt. Enim facilisis gravida neque convallis a cras semper. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi.

                    Nec dui nunc mattis enim ut tellus elementum. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. </p><p>Varius sit amet mattis vulputate enim nulla. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Dui sapien eget mi proin. Non curabitur gravida arcu ac. Velit aliquet sagittis id consectetur purus ut faucibus. Eu augue ut lectus arcu. Mus mauris vitae ultricies leo integer malesuada nunc vel. Vel elit scelerisque mauris pellentesque. Sagittis purus sit amet volutpat consequat mauris nunc. Sit amet tellus cras adipiscing enim eu. Placerat in egestas erat imperdiet sed euismod nisi porta lorem. Tempor id eu nisl nunc mi. Faucibus a pellentesque sit amet porttitor eget dolor morbi non. Ut etiam sit amet nisl purus in mollis.

                        Orci a scelerisque purus semper. Amet est placerat in egestas. Eu sem integer vitae justo eget magna fermentum iaculis eu. Nisi vitae suscipit tellus mauris a diam. Sem fringilla ut morbi tincidunt augue. Arcu dictum varius duis at consectetur lorem donec massa sapien. Viverra vitae congue eu consequat ac felis donec. Faucibus pulvinar elementum integer enim neque. Aliquam id diam maecenas ultricies mi. Proin sagittis nisl rhoncus mattis. Pharetra sit amet aliquam id diam. Faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Commodo elit at imperdiet dui accumsan sit amet.
                    </p>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->
