<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Département d'Informatique</h3>
                    <p>
                        B.P. 11201 Zitoune Meknès, Maroc<br>
                        <strong>Tel:</strong> +212 5 35 53 73 21/ 53 88 70<br>
                        <strong>Email:</strong><a href="mailto:doyen.fs@umi.ac.ma">doyen.fs&#64;umi.ac.ma</a><br>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6">
                    <h4>Notre Emplacement</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2700.201993072273!2d-5.5437352651936!3d33.86808370629752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda04543d863b571%3A0x596632d1a0a0358d!2sFacult%C3%A9%20des%20sciences%20Meknes%D8%8C%20BP%2011201%20Zitoune%2C%20Mekn%C3%A8s%20-%20MAROC%2C%20Mekn%C3%A8s%2050000!5e0!3m2!1sen!2sma!4v1709837388237!5m2!1sen!2sma" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liens Utils</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">A propos du Département d'informatique</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Recherche Scientifique</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Espace Etudiants</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Club des Etudiants</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos Formations</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Licence</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Licence d'Excelence</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Master/Master Spécialisé</a></li>
                    </ul>
                </div>
                <!--<div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>-->

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                {{this.currentDate}}&copy;<strong><span>Département d'Informatique</span></strong>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="gmail"><i class="bx bxl-gmail"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->
